/* FOOTER 1 CSS */
.footer {
    background-color: #222222;
  }
  .footer .info-group {
    background-color: #1B1B1B;
    position: relative;
    top: -175px;
  }
  .footer .info-group .input-group-item {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(238, 238, 238, 0.05);
    flex-direction: column;
  }
  .footer .info-group .input-group-item .title {
    padding: 20px 0;
    color: #fff;
    font-size: 22px;
    position: relative;
  }
  .footer .info-group .input-group-item .title:before {
    content: "";
    width: 45px;
    height: 2px;
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    margin-left: -22.5px;
  }
  .footer .info-group .input-group-item .title.top-divider-red:before {
    background-color: #F4494E;
  }
  .footer .info-group .input-group-item .title.top-divider-green:before {
    background-color: #4ED58C;
  }
  .footer .info-group .input-group-item .title.top-divider-orange:before {
    background-color: #FBBC42;
  }
  .footer .info-group .input-group-item p, .footer .info-group .input-group-item a {
    font-size: 14px;
    color: #9b9b9b;
    text-align: center;
  }
  .footer .f-logo {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 3rem;
    position: relative;
    margin-top: -120px;
  }
  .footer .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
  .footer .social-links li {
    display: inline-block;
    margin-right: 30px;
  }
  .footer .social-links li:nth-last-of-type(1) {
    margin-right: 0;
  }
  .footer .social-links li a {
    display: block;
    color: #9b9b9b;
    font-size: 22px;
    transition: 0.3s;
  }
  .footer .social-links li a:hover {
    color: #F4494E;
  }
  .footer .copyright {
    border-top: 1px solid rgba(71, 71, 71, 0.25);
    padding: 25px 0;
  }
  .footer .copyright p {
    margin-bottom: 0;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #9b9b9b;
  }
  .footer .info-group .input-group-item .title {
    font-weight: 400;
  }





/* FOOTER 2 CSS */
.footer-v2 {
    background-color: #1C1C1C;
    padding: 60px 0;
}

.footer-v2 .footer-content .f-logo {
    margin-bottom: 2rem;
    display: block;
}

.footer-v2 .footer-content p {
    color: #898989;
    font-size: 14px;
    margin-bottom: 2rem;
}

.footer-v2 .footer-content .social-links {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.footer-v2 .footer-content .social-links a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: #978585;
    border-radius: 50%;
    transition: 0.33s ease;
    margin-right: 15px;
}

.footer-v2 .footer-content .social-links a:nth-last-of-type(1) {
    margin-right: 0;
}

.footer-v2 .footer-content .social-links a:hover {
    background-color: rgba(244, 73, 78, 0.1);
}

.footer-v2 .footer-content .footer-title {
    font-size: 16px;
    color: #fff;
    margin-bottom: 1rem;
}

.footer-v2 .footer-content .contact-list {
    margin-bottom: 2rem;
}

.footer-v2 .footer-content .contact-list p {
    font-size: 14px;
}

.footer-v2 .footer-content .contact-list a {
    display: block;
    font-size: 14px;
    color: #898989;
    margin-bottom: 0.5rem;
}

.footer-v2 .footer-content .contact-list a:nth-last-of-type(1) {
    margin-bottom: 0;
}

.footer-v2 .footer-content .quick-links {
    margin-bottom: 2rem;
}

.footer-v2 .footer-content .quick-links li {
    display: block;
    margin-bottom: 0.5rem;
}

.footer-v2 .footer-content .quick-links li:nth-last-of-type(1) {
    margin-bottom: 0;
}

.footer-v2 .footer-content .quick-links a {
    display: block;
    font-size: 14px;
    color: #898989;
}

.footer-v2 .footer-copyright {
    background: rgba(148, 148, 148, 0.12);
    line-height: 60px;
}

.footer-v2 .footer-copyright p {
    margin-bottom: 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
}



/* FOOTER 3 CSS */
.footer-v3 .footer-top {
    padding-top: 90px;
    padding-bottom: 90px;
}

.footer-v3 .footer-top .footer-title {
    color: #fff;
    font-size: 30px;
    margin-bottom: 2rem;
}

.footer-v3 .footer-top .footer-about p {
    color: #898989;
    font-size: 14px;
}

.footer-v3 .footer-top .footer-about a {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #F4494E;
}

.footer-v3 .footer-top .footer-about a i {
    color: #F4494E;
    margin-left: 5px;
}

.footer-v3 .footer-top .__info-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.footer-v3 .footer-top .__info-item strong {
    font-size: 14px;
    color: #898989;
    width: 30%;
    margin-right: 15px;
}

.footer-v3 .footer-top .__info-item p,
.footer-v3 .footer-top .__info-item a,
.footer-v3 .footer-top .__info-item .__social-links {
    width: 70%;
    color: #898989;
    margin-bottom: 0;
}

.footer-v3 .footer-top .__info-item .__social-links {
    display: flex;
    align-items: center;
    justify-content: start;
}

.footer-v3 .footer-top .__info-item .__social-links a {
    width: initial;
    margin-right: 20px;
    font-size: 22px;
}

.footer-v3 .footer-top .__info-item .__social-links a:nth-last-of-type(1) {
    margin-right: 0;
}

.footer-v3 .footer-bottom {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-v3 .footer-bottom p {
    margin-bottom: 0;
}





/* FOOTER 4 CSS */
.footer-v4 .footer-top {
    padding-top: 50px;
    padding-bottom: 45px;
}

.footer-v4 .footer-top .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid rgba(251, 251, 251, 0.18);
}

.footer-v4 .footer-top .__social-links {
    display: flex;
    align-items: center;
    justify-content: start;
}

.footer-v4 .footer-top .__social-links a {
    width: initial;
    margin-right: 20px;
    font-size: 20px;
    color: #fff;
    transition: 0.33s;
}

.footer-v4 .footer-top .__social-links a:hover {
    color: #4CD790;
}

.footer-v4 .footer-top .__social-links a:nth-last-of-type(1) {
    margin-right: 0;
}

.footer-v4 .footer-top .__menu {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 0;
}

.footer-v4 .footer-top .__menu li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}

.footer-v4 .footer-top .__menu li:hover a,
.footer-v4 .footer-top .__menu li.active a {
    color: #4CD790;
}

.footer-v4 .footer-top .__menu li a {
    display: block;
    font-size: 15px;
    color: #fff;
    transition: 0.33s;
}

.footer-v4 .f-logo {
    margin: 45px auto 0 auto;
    display: block;
    text-align: center;
}

.footer-v4 .footer-bottom {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4CD790;
}

.footer-v4 .footer-bottom p {
    margin-bottom: 0;
    color: #fff;
}



/* FOOTER 5 CSS */
.footer-v5 {
    background-color: #13164B;
    padding-top: 75px;
  }
  .footer-v5 .footer-about img {
    margin-bottom: 2rem;
  }
  .footer-v5 .footer-about p {
    font-size: 12px;
    color: #fff;
    opacity: 0.5;
  }
  .footer-v5 .footer-title {
    font-size: 13px;
    color: #fff;
  }
  .footer-v5 .__footer-menu
  {
      list-style: none;
  }
  .footer-v5 .__footer-menu li a {
    display: block;
    font-size: 13px;
    color: #fff;
    opacity: 0.5;
  }
  .footer-v5 .__social-links a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100px;
    min-width: 100px;
    line-height: 25px;
    border-radius: 2px;
    margin-bottom: 0.5rem;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
  }
  .footer-v5 .__social-links a i {
    color: #fff;
    font-size: 14px;
  }
  .footer-v5 .__social-links a span {
    color: #fff;
    font-size: 13px;
  }
  .footer-v5 .__social-links a.bg-facebook {
    background-color: #1877F2;
  }
  .footer-v5 .__social-links a.bg-twitter {
    background-color: #1DA1F2;
  }
  .footer-v5 .__social-links a.bg-linkedin {
    background-color: #0A66C2;
  }
  .footer-v5 .__social-links a.bg-pinterest {
    background-color: #BD081C;
  }
  .footer-v5 .__social-links a.bg-youtube {
    background-color: #CD201F;
  }
  .footer-v5 .__social-links a.bg-whatsapp {
    background-color: #25D366;
  }
  .footer-v5 .__social-links a.bg-instagram {
    background-color: #E4405F;
  }
  .footer-v5 .copyright {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .footer-v5 .copyright p {
    margin-bottom: 0;
    font-size: 13px;
    color: #fff;
    text-align: center;
  }


  /* FOOTER 6 CSS */
  .footer-v6 .footer-top {
    background-color: #000;
    padding-top: 75px;
    padding-bottom: 100px;
    position: relative;
    text-align: center;
  }
  .footer-v6 .footer-top .__footer-title {
    font-size: 32px;
    margin-bottom: 1rem;
    display: block;
    color: #fff;
    position: relative;
    padding-bottom: 1rem;
  }
  .footer-v6 .footer-top .__footer-title::after {
    width: 50px;
    height: 2px;
    background-color: #D91D1D;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
  }
  .footer-v6 .footer-top .copyright {
    font-size: 27px;
    color: #5A5A5A;
  }
  .footer-v6 .f-logo {
    display: block;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .footer-v6 .__social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }
  .footer-v6 .__social-links a {
    display: block;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    cursor: pointer;
    color: #000;
    border-radius: 50%;
    border: 1px solid #000;
    transition: 0.33s;
    margin-left: 5px;
    margin-right: 5px;
  }
  .footer-v6 .__social-links a:hover {
    color: #fff;
    background-color: #D91D1D;
    border-color: #D91D1D;
  }
