.cate-part,
.cart-part {
    position: sticky;
    top: 20px;
    z-index: 999;
}

.main-innr {
    padding: 50px 0 200px;
}


/*    category sec   */

.category-title h2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}

ul.box-category {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.box-category>li {
    background: transparent;
}

.box-category>li a {
    border: none;
    font-weight: 600;
    color: #848484;
    font-size: 12px;
    padding: 8px 4px 8px 0px;
}

.box-category>li a.active {
    color: #d50a0a;
}

.box-category>li a:hover {
    color: #d50a0a;
}


/*  minicart box  */

.close-shop {
    background: #cd2127 none repeat scroll 0 0;
    margin-bottom: 5px;
    padding: 6px 10px;
    width: 100%;
    border-radius: 5px;
}

.close-shop h2 {
    color: #fff !important;
    font-size: 20px;
    font-weight: 700;
}

.close-shop span {
    color: #fff !important;
}

.minicart {
    border: solid 2px #988c8c;
    border-radius: 3px;
}

.minibox-title {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #e5ded4;
    align-items: center;
}

.minibox-title h3 {
    font-size: 17px;
    font-weight: 600;
}

.minibox-title i {
    font-size: 22px;
    color: #343434 !important;
}

.empty-box {
    background: #f4f4f4;
    padding: 5px;
    border-bottom: 1px solid #e5ded4;
}

.empty-box span {
    font-size: 13px;
    font-weight: 700;
    color: #443F3F;
}

.minicart-list {
    list-style: none;
    margin: 0
}

.minicart-list-item {
    padding: 10px;
    border-bottom: 1px solid #e5ded4;
}

.minicart-list-item-innr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.minicart-list-item-innr label {
    font-size: 12px;
    color: #333;
    font-weight: 600;
}

.minicart-list-item-innr span {
    font-size: 12px;
    color: #000;
    font-weight: 600;
}

.minicart-list .minicart-list-item:last-child .minicart-list-item-innr label {
    font-size: 18px !important;
    color: #333;
    font-weight: 600;
}

.minicart-list .minicart-list-item:last-child .minicart-list-item-innr span {
    font-size: 18px !important;
    color: #000;
    font-weight: 600;
}

.order-type {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-type-innr input.form-check-input[type=radio] {
    padding: 10px;
}

.order-type-innr label.form-check-label {
    padding-left: 15px;
}

.order-type-innr h4 {
    font-size: 15px;
    color: #000 !important;
    position: relative;
    display: inline-block;
    margin: 0;
}

.order-type-innr span {
    font-size: 14px;
    color: #000 !important;
    font-weight: 500;
    display: block;
}

.checkbt {
    color: #86b986;
    background: #ace2ac;
    font-size: 22px;
    border: solid 1px #000;
    border-radius: 3px;
    padding: 10px 8px;
    text-transform: uppercase;
    display: block;
    margin-top: 5px;
    opacity: 1 !important;
}

.closed-now {
    position: relative;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.closing-text {
    display: block;
    text-align: center;
    line-height: 2;
    font-size: 15px;
    font-weight: 600;
    color: #cd2127 !important;
    width: 100%;
    border: 2px solid #dbdbdb;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;
    position: relative;
    z-index: 1;
    top: 150%;
    left: 0;
}

.closed-now .closing-text:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #dbdbdb;
}


/*     product list item sec */

.product-list {
    border-left: solid 1px #988c8c;
    padding: 0 20px;
}

.product-list-innr .accordion-item {
    border: none;
}

.product-list-innr .accordion-button {
    background: none;
    margin-bottom: 10px;
    border-bottom: solid 1px #988c8c;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    position: relative;
    padding: 20px 0;
}

.product-list-innr .accordion-button:not(.collapsed) {
    box-shadow: none;
}

.product-list-innr .accordion-button:focus {
    box-shadow: none;
}

.product-list-innr .accordion-header p {
    font-size: 14px;
    color: #000;
}

.acc-body-inr-title h4 {
    font-size: 14px;
    font-weight: 600;
    color: #000 !important;
    margin: 0 !important;
}

.acc-body-inr-title p {
    font-size: 12px;
    color: #333333;
    margin-bottom: 0;
}

.options-btn {
    background-color: #CD2127;
    border: solid 1px #000;
    border-radius: 4px;
    display: inline-block;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 600;
    color: #fff !important;
    width: 110px;
}

.options-btn:hover {
    background-color: #ee5b60;
}

.options-btn i {
    margin-left: 10px;
    margin-top: 2px;
    width: 22px;
    display: inline-block;
    padding-left: 5px;
    border-left: solid 1px #fff;
    background: transparent;
    color: #fff !important;
}

.options-bt {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.options-bt span {
    font-size: 14px;
    font-weight: 600;
    color: #000 !important;
    margin: 0 !important;
    display: flex;
    width: 72px;
}

.options-bt-main .options-bt:first-child {
    margin-top: 30px;
}

.acc-body-inr {
    /* display: flex;
    justify-content: space-between; */
    border-bottom: 1px solid #f0eeef;
    margin-bottom: 15px;
}

.product-list-innr .accordion-button {
    justify-content: space-between;
    align-items: center;
}

.product-list-innr .accordion-button span,
.accordion-button i {
    color: #ff0000 !important;
    font-weight: 600;
    font-size: 16px;
}

.accordion-button:after {
    display: none;
}

.accordion-button:not(.collapsed) i {
    transform: rotate(-180deg);
}

.cate-part-select-box {
    display: none !important;
}

.acc-body-inr-title img {
    width: 100px;
    margin-top: 10px;
}

.mob-view {
    display: none;
}


/* modal  */

.csmodal {
    top: 20% !important;
}

.csmodal .modal-header {
    padding-bottom: 0;
    border: none;
}

.csmodal .modal-body {
    text-align: center;
}

.csmodal .modal-title {
    color: #ff0000;
    font-size: 25px;
}

.csmodal .show_min {
    color: #151515;
    font-size: 18px;
    font-weight: 300;
}

.csmodal .controls input {
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
    width: 340px;
    margin-bottom: 20px;
    color: #ADADAD;
}

.csmodal-btn,
.csmodal-btn-close {
    border-radius: 4px;
    width: 100%;
    max-width: 320px;
    background: #00a600;
    border: 1px solid #00a600;
    font-family: 'Lato';
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
}


/* innerpage css */

.check-main {
    padding: 50px 0 200px;
}

.check-progress {
    margin-bottom: 30px;
    text-align: center;
}

.check-progress .progress {
    border-radius: 30px;
}

.check-main .accordion-item {
    border: none;
}

.check-main .accordion-item .accordion-button:not(.collapsed) {
    background: none !important;
}

.check-main .accordion-item .accordion-button {
    border-bottom: 2px solid #000;
    padding: 16px 16px 0 0;
}

.check-main .accordion-item .accordion-button span {
    margin: 0 0 10px 50px;
}

.check-inr .accordion-button:before {
    content: " ";
    position: absolute;
    border: 15px solid #000;
    bottom: 0;
}

.fb-log-bt {
    background-color: #3c579a;
    display: inline-block;
}

.fb-log-bt span {
    color: #fff;
    font-size: 12px;
}

.fb-log-bt i {
    color: #fff;
    font-size: 20px;
}

.fb-log-bt:hover span,
.fb-log-bt:hover i {
    color: #ff0000;
}

.login-details-inr {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
}

.vouchercode::before {
    right: 17% !important;
}

.login-details-inr::before {
    border-left: 1px solid #ccc;
    color: #ccc;
    float: none;
    font-size: 16px;
    height: 22px;
    line-height: 22px;
    margin: 0;
    padding-left: 5px;
    padding-right: 25px;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 9px;
    width: 22px;
}

.select-ic::before {
    border-left: 1px solid #cccccc;
    color: #cccccc;
    content: '\f0dd';
    display: block;
    float: left;
    font-size: 16px;
    height: 21px;
    padding: 0 0 0 10px;
    pointer-events: none;
    position: absolute;
    right: 13px;
    top: 4px;
}

.login-details-inr input {
    padding: 10px;
}

.login-details-inr select {
    padding: 10px;
    appearance: none !important;
}

.email-btn .btn {
    background-color: #F4494E !important;
    color: #fff;
    padding: 5px 25px;
}

.basket-main,
.member-main,
.register-main,
.contact-main {
    padding: 50px 0 200px;
}

.basket-title h2,
.member-title h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.basket-product-detail,
.coupon-inr,
.contact-map {
    margin-bottom: 30px;
}

.basket-product-detail thead tr {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.basket-product-detail tbody {
    border-top: none !important;
}

.basket-product-detail .table th,
td {
    font-size: 14px;
    color: #000;
}

.basket-product-detail .table td {
    color: #888888;
}

.qu-inr input {
    padding: 10px;
    width: 100%;
    max-width: 50px;
}

.qu-inr a i {
    color: #F4494E;
}

.coupon-title h2 {
    font-size: 20px;
}

.coupon-apply .accordion-item {
    border: none;
}

.coupon-apply .accordion-item:hover .accordion-header.collapsed {
    color: #F4494E;
}

.coupon-apply .accordion-item .accordion-header.accordion-button,
.accordion-body {
    background-color: #eee !important;
    box-shadow: none !important;
    color: #000;
}

.coupon-apply .accordion-item .accordion-button::after {
    background: none !important;
    content: '\f107';
    font-family: "Font Awesome 5 Free";
}

.coupon-apply .accordion-item .accordion-button:not(.collapsed)::after {
    transform: rotate3d(23, 0, 0, 180deg);
}

.basket-total {
    background-color: #f6f6f6;
    margin-bottom: 15px;
    overflow: auto;
    padding: 10px 1px;
}

.basket-total .table {
    float: right;
    max-width: 300px;
    margin-bottom: 0;
}

.basket-total .table td span {
    color: #F4494E;
}

.basket-bt {
    padding-top: 15px;
    margin-bottom: 20px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

.basket-bt .btn {
    background-color: #F4494E;
    color: #fff;
    font-weight: 700;
}

.new-customer,
.login-inr {
    padding: 20px 15px;
}

.new-customer h2,
.login-inr h2 {
    font-size: 20px;
}

.new-customer label,
.login-inr label {
    font-size: 15px;
    margin-bottom: 10px;
    color: #777777;
    font-weight: 600;
}

.new-customer p {
    font-size: 12px;
}

.login-inr a {
    font-size: 14px;
    color: #F4494E;
    font-weight: 600;
}

.member-inr .mem-reg-bt,
.log-bt,
.back-bt {
    background: #F4494E;
    color: #fff;
}


/* regsiter */

.register-title {
    margin-bottom: 20px;
}

.register-title h2 {
    font-size: 30px;
}

.register-title p {
    font-size: 14px;
    margin-bottom: 0;
}

.register-title p a {
    color: #4ED58C;
}

.reg-details {
    margin-bottom: 15px;
}

.reg-details h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.reg-details .table tr td:first-child {
    width: 160px;
    vertical-align: middle;
}

.reg-details .table tr td {
    font-size: 14px;
    font-weight: 600;
    border: none;
}

.reg-details .table tr td input,
.reg-details .table tr td select {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    font-size: 14px;
}

.reg-details .table tr td input[type="radio"] {
    width: auto;
}

.radio-bt {
    vertical-align: middle;
}

.reg-details .table tr td span.required {
    color: #F4494E;
    font-size: 20px;
}

.reg-bt {
    padding-top: 15px;
    margin-bottom: 20px;
    border-top: 1px solid #eee;
    text-align: right;
}

.reg-bt .btn,
.map-bt,
.sub-bt {
    background-color: #F4494E;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.reg-success p {
    margin-bottom: 15px !important;
}

.contact-info-left {
    border-right: 1px solid #000;
}

.contact-title h2 {
    font-size: 30px;
    font-weight: 600;
}

.map-info,
.contact-details {
    padding: 15px;
}

.map-info h3,
.contact-details h3 {
    font-size: 20px;
}

.map-info .login-details-inr {
    margin-bottom: 20px;
}

.shop-location {
    margin-bottom: 20px;
}


/* member modal order resipt */

.orderinfo-date {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 20PX;
}

@media only screen and (max-width:991px) {
    .cate-list-part {
        display: none;
    }
    .cate-part-select-box {
        display: block !important;
        margin-bottom: 20px;
    }
    .cate-part-select-box .form-control {
        border-color: #988c8c;
        color: #000;
        font-weight: 500;
        font-size: 19px;
        appearance: auto;
    }
    .product-list {
        padding: 0 10px;
    }
}

/* Auto Complete */
.ui-front {
    z-index: 999;
}

@media only screen and (max-width:767px) {
    .mob-view {
        display: block;
        position: relative;
    }
    .close-shop {
        display: none;
    }
    .closed-now {
        display: none;
    }
    .checkbt {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
    .mob-view-main {
        position: fixed;
        bottom: 52px;
        right: 0;
        left: 0;
    }
    .mob-basket {
        display: block;
        text-align: center;
        background: #eaeaea;
        padding: 4px 0px 3px 0px;
        font-size: 14px;
        color: #000;
        font-weight: 600;
        position: relative;
    }
    .tg-icon {
        content: "";
        position: absolute;
        top: -23px;
        text-align: center;
        left: 0;
        right: 0;
        background: #eaeaea;
        width: 35px;
        margin: 0 auto;
        padding: 4px 5px 1px 5px;
        font-size: 18px;
        border-radius: 10px 10px 0px 0px;
    }
    .minicart {
        background-color: #f4f4f4;
        display: none;
        transition: 0.4s all ease-in-out;
    }
}
